@import "../../utils.module.scss";
.appHeader {
  border-bottom: 1px solid $grey;
}

.headerContainer {
  max-width: $max-component-width;
  margin: auto;
  padding: 6px 24px 0px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  @include md {
    padding: 8px 24px 0px;
  }
  .shortName {
    font-size: 32px;
    padding-bottom: 6px;
    @include md{
      font-size: 42px;
      padding-bottom: 4px;
    }
  }
  .pageList {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .iconWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 12px 4px;
      color: $grey;
      @include md {
        padding: 0 16px 6px;
      }
    }
    .activeLink {
      border-bottom: 2px solid $white;
      color: $white;
    }
  }
}
