@import "../../utils.module.scss";

.aboutMeWrapper {
  max-width: $max-component-width;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 30px 20px;
  flex-direction: column;
  @include md {
    flex-direction: row;
    padding: 60px 24px;
    gap: 64px;
  }

  .title {
    font-size: 24px;
    padding-bottom: 16px;
    text-align: center;
    @include md {
      font-size: 36px;
      text-align: left;
    }
  }
  .about {
    font-size: 16px;
    text-align: center;
    @include md {
      font-size: 24px;
      text-align: left;
    }
  }
}
