$primary: #64ff00;
$secondary: #343456;
$black: #000000;
$white: #ffffff;
$grey: #606060;
$light-grey: #d3d3d3;
$screen-md-min: 768px;
$max-component-width: 1420px;

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

:export {
  primary: $primary;
  secondary: $secondary;
  black: $black;
  white: $white;
  grey: $grey;
  lightGrey: $light-grey;
  maxComponentWidth: $max-component-width;
}
