@import "../../utils.module.scss";

.techStackWrapper {
  max-width: 1400px;
  margin: auto;
  margin-top: 45px;
  @include md {
    margin-top: 60px;
  }
  .title {
    font-size: 24px;
    text-align: center;
    padding-bottom: 16px;
    @include md {
      font-size: 36px;
    }
  }
  .techStack {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    padding: 32px;
    @include md {
      gap: 86px;
      padding: 56px;
    }
    .techIcon {
      width: 55px;
      height: auto;
      @include md {
        width: 72px;
      }
    }
  }
}
