@import "../../utils.module.scss";

.techStackWrapper {
  max-width: 1400px;
  margin: auto;
  margin-top: 30px;
  @include md {
    margin-top: 60px;
  }
  .title {
    font-size: 24px;
    text-align: center;
    padding-bottom: 16px;
    @include md {
      font-size: 36px;
    }
  }
  .techStack {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
    flex-wrap: wrap;
    padding: 32px;
    @include md {
      gap: 86px;
      padding: 56px;
      justify-content: start;
    }
    .techIcon {
      width: auto;
      height: 58px;
      @include md {
        height: 72px;
      }
    }
  }
}
