@import "../../utils.module.scss";

.techStackWrapper {
  max-width: 1400px;
  margin: auto;
  margin-top: 30px;
  @include md {
    margin-top: 60px;
  }
  .title {
    font-size: 36px;
    text-align: center;
    padding-bottom: 16px;
  }
  .techStack {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: 32px;
    flex-wrap: wrap;
    // background: $light-grey;
    padding: 32px;
    @include md {
      gap: 86px;
      padding: 56px;
    }
    .techIcon {
      height: 56px;
      @include md {
        height: 86px;
      }
    }
  }
}
